.barra {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(90deg, #606c88, #3f4c6b);
  height: auto;
}
