.btn
{
    width:100%;
    height:100%;
    padding-top:.3rem;
    padding-bottom:.3rem;
    padding-left:.4rem;
    padding-right:.4rem;
    font-size:0.8rem;
    margin:0px;
    color:black;
    background:#f5af19;
    border: 1px solid black;
    font-style:italic;
    font-weight:bold;
    border-radius: .5rem;
}
.btnc
{
    background:#f12711;
}
.btn:hover
{
    background:#f12711;
    cursor:pointer;
}
.btn.invisible
{
    display:none;
}