.elemento {
  display: grid;
  position:absolute;
  place-items: center;
}
.elemento svg {
  display: block;
  position: absolute;
}
.quadrado {
  background: linear-gradient(90deg, #606c88, #3f4c6b);
  border-radius: 0.6rem;
}
p
{
  position:absolute;
  font-size:.7rem;
  font-family:Arial;
}
