.elemento {
  display: grid;
  position:absolute;
  place-items: center;
  margin-bottom:10%;
}
.elemento svg {
  display: block;
  position: absolute;
  
}
.quadrado {
  background: linear-gradient(90deg, #606c88, #3f4c6b);
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px black, -2px -2px 4px white;
}
p
{
  position:absolute;
  font-size:auto;
  font-family:montserrat;
  font-weight:bolder;
  color:black;
}
