.nav {
  width: 100%;
  right: 0;
  top:0;
  height:auto;
}
.horizontal {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  overflow: hidden;
  list-style: none;
  justify-content:space-evenly;
  margin: 0;
  padding: 1rem;
  width:100%;
  height:auto;
}
.nav ul li {
  display: grid;
  place-items: center;
  width: 10rem;
  height: auto;
  margin: .2rem;
}
.vertical{
  padding: 0rem;
  position:absolute;
  flex-direction:column;
}
.vertical li{
  margin:0;
  width:5rem;
}